<html>
<head><style>
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}


</style>
</head>
<body>
<div ng-controller="JobController as ctrl">
<h3 style="text-align:center">Job page</h3>
<b>	UserName:</b>&nbsp;&nbsp;&nbsp;	{{currentUser.username}}<br><br><br>


<table>
  <tr>
    <th>Job Title</th>
    <th>Options</th>
    
  </tr>
  
  <tr ng-repeat="joblist in ctrl.jobs">
  
    <td><a  href="#/viewjob" ng-click="ctrl.getJob(joblist.jobname)">{{joblist.jobname}}</a></td>
    <td><a href="#/listjobapply" ng-click="ctrl.applyjob(joblist.jobname)">Apply</a></td>
  
  </tr>
  
  </table>
  </div>
  </body>
  </html>
  
