				<div ng-controller="UserController as ctrl">
						
								  <h2>Login</h2>
               <form  ng-submit="ctrl.login()" >
									
<label for="">Username</label> <input type="text"
		name="password" id="text" placeholder="Enter username" class="form-control"
		ng-model="ctrl.user.username" required /> 
<br>
<label for="">Password</label> <input type="password"
		name="password" id="password" placeholder="Enter password" class="form-control"
		ng-model="ctrl.user.password" required /> <br>
					
	<button type="submit"		
					class="btn btn-primary">Login</button>
				<a href="#/register">Register</a>
					</form>
					</div>
