
<div ng-controller="UserController as ctrl">

	<form name="form" ng-submit="ctrl.register()" role="form">
	<h3>Registration form</h3>
				
<label for="">Username</label> 
<input type="text"	name="username" id="username" class="form-control"
					ng-model="ctrl.user.username" required /> 					
		<br>
<label for="">First Name</label> 
<input type="text"	name="firstname" id="firstname" class="form-control"
					ng-model="ctrl.user.firstname" required /> 					
		<br>
<label for="">Second Name</label> 
<input type="text"	name="secondname" id="secondname" class="form-control"
					ng-model="ctrl.user.secondname" required /> 					
		<br>
<label for="">Email Id:</label> 
<input type="text"	name="email" id="email" class="form-control"
					ng-model="ctrl.user.email" required /> 					
		<br>
<label for="">Mobile No:</label> 
<input type="text"	name="mobile" id="mobile" class="form-control"
					ng-model="ctrl.user.mobile" required /> 					
		<br>

<label for="">Password</label> <input type="password"
		name="password" id="password" class="form-control"
		ng-model="ctrl.user.password" required /> 
			<br>			
<a href="#/login" style="text-color:black">	<button type="submit"		
					class="btn btn-primary" >Register</button></a>
		
		</form>
