<div ng-controller="FriendController as ctrl">
	
<h3 style="text-align:center"><b>	User Page</b></h3>
<b>UserName:</b>&nbsp;&nbsp;&nbsp;{{currentUser.username}}<br><br>
<div ng-repeat="userlist in ctrl.users"| filter:>
 <div ng-if="$root.currentUser.username!=userlist.username">

<!-- <div ng-repeat="friendlist in ctrl.friendss" | filter:> -->
 
<br><a  href="#" ng-click="ctrl.getuser(userlist.username)" style="color:black">  {{userlist.username}}  </a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<button><a href="#" ng-click="ctrl.addFriend(userlist.username)" style="color:black" >Send friend request</a></button>
</div>
<hr>
</div>
</div>

	
