<b><h3 style="text-align:center">View Blog Page</h3></b>
<div class="container" ng-controller="BlogController as ctrl">
Blog-Name:{{selectedBlog.blogname}}<br>
<br> User-name: {{selectedBlog.usename}}<br>
<br>Blog-Description: {{selectedBlog.blogdescription}}
	<br><br>
	<form name="form" ng-submit="ctrl.addcomments()" role="form">
<label for="">Comment:</label>
 <textarea 
		 class="form-control"
		ng-model="ctrl.comment.comments"   style="width:500px" rows="5"> </textarea>
			
			<br>
	<button type="submit"		
					class="btn btn-primary">Add comment</button>
		</form>



<b>Comments below:</b>{{comment.comments}}<br>
<div ng-repeat="commentlist in ctrl.comment">
<a  href="#" ng-click="ctrl.getuser(commentlist.username)"> username: {{commentlist.username}} </a>  <br>
comment :{{commentlist.comments}}
<br>------------------------------------------------------------------------------------
</div>

<br>
BLOG page:{{currentUser.username}}-name<br>
<div ng-repeat="bloglist in ctrl.blogs">
<a  href="#" ng-click="ctrl.getBlog(bloglist.blogname)"> Blog Title: {{bloglist.blogname}}    -----------------------------------Author :{{bloglist.usename}}---------------- </a>
</div>
</div>
